.apipost-pagination {
  display: flex;
  align-items: center;

  .apipost-input-inner-wrapper {
    width: 63px;
    height: 33px;
    margin: 0 0 0 8px;

    .apipost-input {
      text-align: center;
    }
  }

  .apipost-select {
    background-color: #F2F2F2;
    border: 1px solid #E9E9E9;
    height: 33px;
  }

}