# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist/*
/demo/node_modules/*
/demo/.yalc/*

.DS_Store
package-lock.json
yarn.lock
/dist/*
/libs
/themes
