// .apipost-input{
//   height: 30px;
//   border: 1px solid  #0000000f;
//   border-radius: 5px;
//   display: flex;
//   align-items: center;
//   font-size: 12px;
//   padding: 0 5px;
//   &>input {
//     box-sizing: border-box;
//     flex: 1;
//     border: none;
//     padding: 0 5px;
//     font-size: 12px;
//     background: none;
//     caret-color: #000000;
//     color: #333333;
//     outline: none;
//     &::-webkit-input-placeholder{
//         color: #666666;
//     }
//   }
// }
.apipost-input {
  border: none;
  outline: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  line-height: 1.5715;
  padding: 4px 12px;
  background: none;
}
.apipost-input-inner-wrapper {
  outline: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  transition: color .1s linear,border-color .1s linear,background-color .1s linear;
  color: #333333;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  height: 40px;
  font-size: 14px;
  align-items: center;

  .apipost-input {
    padding-left: 0;
    padding-right: 0;
  }

  &-focus, &:focus {
    outline: none;
    border-color: #409eff;
  }
  &-error {
    outline: none;
    border-color: #fe6c6f;
  }
  &-disabled {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
    .apipost-input {
      cursor: not-allowed;
    }
  }
}
.apipost-input-inner-clear {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 18px;
  svg {
    fill: currentColor;
    color: #666;
    width: 1em;
    height: 1em;
    font-size: 18px;
  }
}
